.wrap {
    margin: auto;
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
input {
    width: 300px;
    padding: 10px 15px;
    margin: 10px;
    font-size: 20xp;
}